@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P', sans-serif;
    background: white;
    font-size: 16px;
    background-image: url("background.jpg");
}

#startmenu {
    text-align: center;
    border: 3px solid darkgray;
    margin: auto;
    /* width: 60%;
    height: 60%;*/
    width: 500px;
    height: 220px;
    position: relative;
    top: 20%;
    background: rgba(255, 250, 250, 0.2);
}

#gametitle {
    color: gray;
}

.menupoints {
    padding: 5px 20px 5px 20px;
    margin: auto;
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
    color: grey;
    background: lightgray;
    border-radius: 5px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 110%;
    width: 250px;
}

#spinDisplay {
    position: absolute;
    top: 10px;
    right: 0px;
    min-width: 30%;
    margin: auto;
    padding: 10pt;
    background-color: rgba(153, 24, 27, 1.0);
    color: white;
    font-size: 70%;
    z-index: 1;
    display: none;
}

#blade {
    position: fixed;
    background-color: lightgreen;
    z-index: 80;
}

#game {
    display: none;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(168, 160, 160, 0.2);
    border: 1px solid black;
}

#level {
    position: relative;
    min-width: 100%;
    height: 100%;
    display: block;
    overflow: visible;
    margin: auto;
}
div.tr{
    display: table-row;
}
div.td {
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    border: 1px solid white;
    display: table-cell;
}

#changeView {
    position: relative;
    z-index: 100;
    top: 10px;
    width: 300px;
    margin: auto;
    padding: 10pt;
    background-color: rgba(153, 24, 27, 0.5);
    text-align: center;
    color: white;
    font-size: 70%;
    text-align: center;
}
#qr {
    position: relative;
    z-index: 100;
    top: 10px;
    width: 300px;
    margin: auto;
    padding: 10pt;
    background-color: rgba(153, 24, 27, 0.5);
    text-align: center;
    color: white;
    font-size: 70%;
    text-align: center;
}

#debugOutput {
    position: absolute;
    top: 10px;
    min-width: 30%;
    margin: auto;
    padding: 10pt;
    background-color: rgba(153, 24, 27, 1.0);
    color: white;
    font-size: 70%;
    z-index: 1;
}
