@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P', sans-serif;
    background: white;
    font-size: 16px;
    background-image: url("background.jpg");
}

#startmenu {
    text-align: center;
    border: 3px solid darkgray;
    margin: auto;
    /* width: 60%;
    height: 60%;*/
    width: 500px;
    height: 220px;
    position: relative;
    top: 20%;
    background: rgba(255, 250, 250, 0.2);
}

#gametitle {
    color: gray;
}

.menupoints {
    padding: 5px 20px 5px 20px;
    margin: auto;
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
    color: grey;
    background: lightgray;
    border-radius: 5px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 110%;
    width: 250px;
}

#initSpin {
    position: relative;
    z-index: 100;
    top: 20%;
    width: 220px;
    margin: auto;
    padding: 20pt;
    border-radius: 10pt;
    background-color: white;
    text-align: center;
    display: none;
}

#blade {
    position: fixed;
    background-color: DodgerBlue;
    z-index: 80;
}

#movingArea {
    width: 400px;
    height: 220px;
    background: rgb(153, 24, 27, 0.5);
    border: 3px solid rgb(153, 24, 27);
    position: fixed;
    /*it can be fixed too*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    display: none;
}

#game {
    display: none;
    width: 80%;
    height: 80%;
    margin: auto;
    background: rgba(168, 160, 160, 0.5);
    border: 1px solid black;
}

#qr {
    position: relative;
    z-index: 100;
    top: 10px;
    width: 300px;
    margin: auto;
    padding: 10pt;
    background-color: rgb(153, 24, 27, 0.5);
    text-align: center;
    color: white;
    font-size: 70%;
    text-align: center;
}